.head .col-lg-12 {
	position:fixed;
	width:960px;
	z-index: 100;
	background:#fff;
}

#add-btn {
	position: absolute;
	right: 20px;
	top: 20px;
}

.body {
	margin-top:110px;
}

.panel {
	float:left;
	margin-right:25px;
}

.panel p:last {
	margin-bottom:0;
}

.item {
	margin:0 -15px;
}

.inner {
	padding:0 15px;
}